#wsgImagePanel a img,#wsgIndexPanel a img, #wsgImagePanel img {
	border-width: 1px;
	border-color: gray;
	border-style: solid;
	padding: 2px;
}

#wsgImagePanel{
	display: inline;
	margin-left: auto;
	margin-right: auto;
}