<menus>
	<menu name="main">
		<div id="nbar">
			<ul>
				<li id="home">
					<a
						href="${generator.calulateRelativeUrlFromCurrentResourceTo('${srcDir}/index.html')}">Home</a>
				</li>
				<li id="documentation">
					<a
						href="${generator.calulateRelativeUrlFromCurrentResourceTo('${srcDir}/documentation/documentation.html')}">Documentation</a>
				</li>
				<li id="download">
					<a
						href="${generator.calulateRelativeUrlFromCurrentResourceTo('${srcDir}/download/download.html')}">Download</a>
				</li>
				<li id="about">
					<a
						href="${generator.calulateRelativeUrlFromCurrentResourceTo('${srcDir}/about/about.html')}">About</a>
				</li>
			</ul>
		</div>
	</menu>
</menus>